@import 'tailwindcss';

body {
	font-family:
		'Inter',
		-apple-system,
		'Segoe UI',
		Roboto,
		'Helvetica Neue',
		sans-serif;
	line-height: 1.6;
}

p {
	line-height: 1.7;
}

html {
	scroll-behavior: smooth;
}
